@charset "utf-8";

/* paleta de cores 
#274360 - azul
#082338 - azul
#193454 - azul 
#212b4b - azul
#ff1d00 - laranja
#bb9469 - bege
#ddae7d - bege
#daa520 - dourado
*/

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #082338; 
    font-family: 'Montserrat', sans-serif;
}
.navigation {
    color: white;
    height: 50px;
    
}
.navigation ul {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
}
.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 200;
}
.capa {
    color: white;
}
.capa span {
    color: #daa520;
    display: block;
    text-transform: capitalize;
}
.capa div {
    display: inline-block;
}
.profile-pic {
    width: 40%;
    text-align: center;
}
.profile-pic img {
    width: 320px;
    border-radius: 50%;
    margin-top: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
}
.profile-title {
    vertical-align: top;
    width: 59%;
}
.profile-title h1 {
    font-size: 54px;
    margin-top: 200px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}
.profile-title h2 {
    font-size: 16px;
    font-weight: 200;
    margin-top: -26px;
    margin-left: 5px;
}
.main {
    padding: 80px 180px 80px 100px;
}
.main h1 {
    color: white;
    font-weight: normal;
}
.main h2 {
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin-top: 40px;
}
.main h3 {
    color: #daa520;
    font-size: 12px;
}
.main p {
    font-size: 18px;
    font-weight: 100;
    color: white;
    line-height: 24px;
    text-align: justify;
}
.caminho {
    list-style-type: none;
    padding-left: 0;
    color: grey;
}
.caminho li {
    display: inline-block;
}
 hr {
    border-color: #04121d;
}
.social-img {
    width: 50px;
    margin-right: 8px;
}
.miniatura {
    width: 320px;
    height: 320px;
    background-image: url(../imagens/opportunity.jpg);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.miniatura a {
    text-decoration: none;
}
    

.blackbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: ease-in-out .5s;
    padding-top: 130px;
}
.blackbox:hover {
    opacity: .8;
}
.blackbox-text {
    text-align: center;
    
}
.blackbox-text h1 {
    font-size: 16px;
    color: #daa520;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 500;
}
.blackbox-text h2 {
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
}